@namespace Blazr.SeparationOfConcerns.UI
@page "/countersod"
@inject CounterService Service

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @Service.Data.Counter</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private void IncrementCount()
        => Service.Increment();
}
